%% -*- mode: erlang -*-

{plugins, [rebar_covertool]}.

{cover_enabled, true}.
{cover_print_enabled, true}.
{cover_export_enabled, true}.

{erl_opts, [debug_info]}.
{deps, [jiffy,
        {migresia, {git, "git@github.com:yoonka/migresia.git", {ref, "40e11825e01502d045e87bf8b5d7dc5a9d6e3f73"}}}]}.

{relx, [{release, {"tsoder", "0.0.1"}, [ssl, inets, jiffy, mnesia, migresia, tsoder]},
        {vm_args, "config/vm.args"},
        {sys_config, "config/sys.config"},
        {extended_start_script, true}]}.
